seed_everything: 42
trainer:
  # devices: 1
  # limit_train_batches: 2
  # limit_val_batches: 2
  # limit_test_batches: 2
  # limit_predict_batches: 2
  accumulate_grad_batches: 1 # check what batch size is
  precision: "16-mixed"
  logger:
    class_path: StrictWandbLogger
    init_args:
      project: "ReMIX"
      save_dir: "./runs"
  callbacks:
    - class_path: lightning.pytorch.callbacks.LearningRateMonitor
      init_args:
        logging_interval: "step"
  max_epochs: 10
  log_every_n_steps: 1
optimizer:
  class_path: torch.optim.Adam
  init_args:
    lr: 0.00001
model:
  class_path: LitModel
  init_args:
    model_path: "microsoft/BiomedVLP-CXR-BERT-specialized" # this is BioViL
    # loss_combo: "" # set this at runtime or in script
    # checkpoint_path: "" # set this at runtime or in script
data:
  class_path: LitData
  init_args:
    model_path: "microsoft/BiomedVLP-CXR-BERT-specialized" # this is BioViL
    img_dir: "/opt/gpudata/mimic-cxr/files"
    img_ext: ".jpg"
    splits_path: "/opt/gpudata/mimic-cxr/mimic-cxr-2.0.0-split.csv"
    notes_path: "/opt/gpudata/mimic-cxr/mimic_cxr_sectioned.csv"
    # section: "" # set this at runtime or in script
    metadata_path: "/opt/gpudata/mimic-cxr/mimic-cxr-2.0.0-metadata.csv"
    frontal_only: True
    one_image_per_study: True
    max_chunks: 12
    # mlm_probability: 0.15 # set this at runtime or in script
    batch_size: 16
    num_workers: 4
